.bgg{
    background: rgb(31,114,255);
    background: linear-gradient(270deg, rgba(31,114,255,1) 0%, rgba(84,190,208,1) 100%);
}
.btn{
  border-width: 1.5px;
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
}

.btn-primary{
    border-width: 0px;
    background: rgb(31,114,255,1);
    background: linear-gradient(270deg, rgba(31,114,255,1) 0%, rgba(68,218,63,1) 100%);
}

.btn-light{
  font-weight: bold;
}

.display-1{
    text-shadow: 1px 2px 4px rgba(31,114,255,1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 68px;
}
.display-4{
  text-shadow: 1px 2px 2px rgba(31,114,255,1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}