.bgg{
    background: rgb(31,114,255);
    background: linear-gradient(270deg, rgba(31,114,255,1) 0%, rgba(84,190,208,1) 100%);
}
.btn{
  border-width: 1.5px;
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
}

.btn-primary{
    border-width: 0px;
    background: transparent;
    background: linear-gradient(270deg, transparent 0%, rgba(68,218,63,1) 100%);
}
.logo {
  font-family: roboto;
  font-size: 15px;
  padding-top: 15px;
  margin-left: 55px;
  margin-top: 25px;
  text-align: center;
  height: 50px;
  width: 50px;
  color: rgba(84,190,208,1);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

.btn-primary:hover{
  border-color: white;
}

.btn-light{
  font-weight: bold;
}

.btn-light:hover{
  color: white;
}

.display-1{
    text-shadow: 1px 3px 3px rgba(31,114,255,1);
    font-family: Product sans;
    font-weight: bold;
    font-size: 68px;
}
.display-4{
  text-shadow: 1px 3px 3px rgba(31,114,255,1);
  font-family: Product sans light;
  font-size: 1.5rem;
}

.nav-link:hover{
  color: rgba(31,114,255,1);
}